data/al.mtl
data/al.obj
data/apocalypse.obj
data/castle.mtl
data/castle.obj
data/couch.mtl
data/couch.obj
data/cow.obj
data/cube.mtl
data/cube.obj
data/cutcube.obj
data/dolphins.mtl
data/dolphins.obj
data/dragon.obj
data/eagle.obj
data/f-16.mtl
data/f-16.obj
data/flowers.mtl
data/flowers.obj
data/galleon.obj
data/head_chord.obj
data/head.mtl
data/head.obj
data/ncc1701b.obj
data/paisley.rgb
data/pawn.mtl
data/pawn.obj
data/pig.mtl
data/pig.obj
data/porsche.mtl
data/porsche.obj
data/rose+vase.mtl
data/rose+vase.obj
data/shark.obj
data/slices.obj
data/soccerball.mtl
data/soccerball.obj
data/teapot.mtl
data/teapot.obj
data/venus.mtl
data/venus.obj
data/womanhead.obj
data/world_curved.mtl
data/world_curved.obj
